* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}



.app {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #090909;
}

.heading {
  font-weight: bolder;
  font-size: 4vmax;
  margin: auto;
}

.pack {
  width: 100%;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 0%;
  margin-block: 1.5vh;
}

.footer {
  font-size: xx-large;
  background: linear-gradient(to top, #7c9acb, #3c6ab5);
  position: absolute;

  bottom: 0;
  width: 100%;
  color: black;
}
.footer2 {
  font-size: xx-large;

  /* margin-bottom: 0; */
  width: 100%;
  color: black;
}

/* email input box */

.email-input-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 15px 25px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  margin-top: 7.6vh;
}

.email-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #000000;
}

.email-input::placeholder {
  color: #d1d5db;
}

.email-submit-button {
  background-color: #e5efff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.email-submit-button:hover {
  background-color: #869dbd;
}

/* page2 */

.app2 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #090909;

/* Rectangle 6 */

/* position: absolute; */
left: 0%;
right: 0%;
top: 13.58%;
bottom: 7.92%;

background: #C7DCFE;
border-radius: 30px;


}
.social {

 width: 41px;
 height: 41px;
 gap: 0px;
 opacity: 0px;




}

.circle2 {
  width: 250px;
  height: 250px;
  background-color: #d1d5db;
  border-radius: 50%;
  align-items: center;


  
}



.heading2 {
  font-family: Pixelify Sans;
  font-size: 20px;
  line-height: 40px;
  margin-left: 35%;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: 2.5vmax;
}
